<%- include("header") -%>

<h3>He Says:</h3>

<span>
    <form action="/" method="post" class="fortune-section">
        <p>
            <%= fortune %>
        </p>
        <button type="submit" name="fortune-button" class="btn btn-primary btn-lg">
            pls click
        </button>
    </form>

</span>

<%- include("footer")  -%>