body{
    background-color: #495464;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    padding-top: 5%;

    color: #f4f4f2;
}

.header{
    size: 10rem;
}

.img-fluid{
    padding-top: 5%;
    align-self: center;
    max-width: 50%;
}

.textbox{
    align-self: center;
}

p{
    padding: 2.5% 0;
    color: #e8e8e8;
}